@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.8;
    background-color: #F6F4EB;
    position: relative;
    z-index: 1;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F6F4EB;
    color: #4682A9;
    padding: 10px 20px;
    text-align: left;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    font-size: 15px;
    font-weight: bold;
    color: #F6F4EB;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
}

#header .logo img {
    height: 50px;  
}

#header .shop-name {
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #4682A9;
}

/* #header input[type="text"] {
    padding: 5px;
    margin-left: 20px;
    width: 200px;
    border-radius: 25px;
} */

#header .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    /* flex: 1; */
    background-color: #91C8E4;
    border-radius: 20px;
    padding: 5px 15px;
}

#header .search-bar input {
    width: 300px;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
}

#header .search-bar i {
    position: absolute;
    right: 10px;
    color: #ccc;
}


#header .auth-buttons {
    margin-right: 50px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

#header .auth-buttons div{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 12px;
}

#header .auth-buttons button {
    margin-left: 5px;
    padding: 10px 20px;
    background-color: #F6F4EB;
    border: none;
    color: #4682A9;
    cursor: pointer;
    border-radius: 100px;
    align-items: center;
    font-size: 12px;
}

#header .auth-buttons i {
    color: #4682A9;
}

#header .auth-buttons div i {
    color: #4682A9;
    margin-right: 5px;
}

#header .auth-buttons .btn-location{
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

#header .auth-buttons .dropdown{
    position: relative;
    display: inline-block;
}

#header .auth-buttons .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#header .auth-buttons .dropdown-content p{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#header .auth-buttons .dropdown-content p:hover {background-color: #f1f1f1}

#header .auth-buttons .dropdown:hover .dropdown-content {
    display: block;
}

#header  .auth-buttons .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#header .auth-buttons .btn-cart{
    background-color: #cae1f1;
}

#header .auth-buttons .btn {
    background-color: #91C8E4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* #sidebar {
    position: fixed;
    top: 90px;
    left: 0;
    width: 200px;
    height: calc(100% - 60px);
    z-index: 1;
    background-color: #F6F4EB;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

#sidebar button:hover{
    background-color: #91C8E4;
    color: #F6F4EB;
} */

#main {
    margin-top: 60px;
    margin-left: 220px;
    padding: 10px;
    flex: 1;
    overflow-y: auto;
}

.category {
    margin: 10px 0;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border: none;
    background-color: #629ad3;
    color: white;
    width: 100%;
    text-align: left;
    border-radius: 25px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;

}

.product {
    background-color: #91C8E4;
    border: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
}

.main_container .container .banner {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.main_container .container .banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s;
}

.main_container .container .banner img.hidden {
    opacity: 0;
}

/*side bar*/
.wrapper{
    width: 100%;
    height: 100%;
}

.top_navbar{
    background: #91C8E4;
    height: 60px;
    display: flex;
    position: fixed;
    width: 100%;
    top: 95px;
    z-index: 3;
}

.top_navbar .hamburger{
    width: 80px;
    background: #629ad3;
    position: relative;
    font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 40px;
    height: 20px;
    color: #0f3249;
}

.top_navbar .menu{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top_navbar .menu .logo{
    color: #0f3249;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main_container .sidebar{
  position: fixed;
  top: 150px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #629ad3;
  transition: all 0.3s ease;
  z-index: 1;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}

.main_container .sidebar ul li a{
  color: #fff;
  font-size: 14px;
  padding: 20px 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
  background: #fff;
  color: #0f3249;
}

/* after adding active class */
.wrapper.active .sidebar{
    width: 80px;
  }
  
.wrapper.active .sidebar ul li a span.title {
    display: none;
}  

.main_container .container{
    margin-top: 150px;
    margin-left: 225px;
    width: calc(100% - 225px);
    padding: 30px;
    transition: all 0.3s ease;
}

.main_container .container .item{
  background: #fff;
  border: 1px solid #E0F2F1;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}

.wrapper.active .main_container .container{
  width: calc(100% - 80px);
  margin-left: 80px;
}

#footer{
    z-index: 2;
}

#footer .contact-info-footer {
    background-color: #91C8E4;
    height: 20%;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Scrolling text */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}
  
.menu .scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
  
.menu .scrolling-text p {
    display: inline-block;
    width: 100%;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}